<%= form_for @exercise do |f| %>
<%=render "flash" %>

<div class="field">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="field">
<%= f.label :sets %>
<%= f.text_field :sets %>
</div>

<div class="field">
<%= f.label :reps %>
<%= f.text_field :reps %>
</div>

<div class="field">
<%= f.label :weight %>
<%= f.text_field :weight %>
</div>

<div class="field">
<%= f.fields_for :coach do |coach_form| %>
<%= coach_form.label :'Coach Name'%>
<%=coach_form.text_field :name %>
<%end%>
</div>

<%= f.submit "Submit"%>
<%end%>