<%= form_for exercise do |f| %>
<%=render "flash" %>

<div class="field">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="field">
<%= f.label :sets %>
<%= f.text_field :sets %>
</div>

<div class="field">
<%= f.label :reps %>
<%= f.text_field :reps %>
</div>

<div class="field">
<%= f.label :weight %>
<%= f.text_field :weight %>
</div>


<div class="field">
<%if !coach %>
    <%= f.fields_for :coach, Coach.new do |coach_form| %>
        <%= coach_form.label :'Coach Name'%>
        <%=coach_form.text_field :name %>
    <%end%>
<%else%>
<%=f.hidden_field :coach_id, value: coach.id %> 
<p>Coach: <%=coach.name%> </p>
<%end%>
</div>


<%= f.submit "Submit"%><br>

<%end%>