<div class="container">
<h1>All your Exercises</h1>
<%= link_to "Add Exercise", new_exercise_path %>
<table class="striped resposive-table centered">
<thead>
   <tr>
     <th>Name<th>
     <th>Sets<th>
     <th>Reps<th>
     <th>Weight<th>
     <th>Coach<th>
   </tr>
</thead>

<tbody>
<% @exercises.each do |exercise| %>
<tr>
<td><%=exercise.name%></a></td>
<td><%= exercise.sets %></td>
<td><%= exercise.reps %></td>
<td><%= exercise.weight %></td>
<td><%= exercise.coach.name %></td>
<td><%= link_to "Edit", exercise_path(exercise)%></td>
</tr>
<%end%>
</tbody>
</table>
</div>