
<h1>All your Exercises</h1>
    <% if @coach %>
<%= link_to "Add Exercise for #{@coach.name}", new_coach_exercise_path(@coach.id) %>
<%else%>
<%= link_to "Add Exercise", new_exercise_path %>
<%end%>
<table> 
 <thead>
   <tr>
     <th>Name</th>
     <th>Sets</th>
     <th>Reps</th>
     <th>Weight</th>
     <th>Coach</th>
   </tr>
</thead>
<tbody>
<% @exercises.each do |exercise| %>
  <tr>
    <td><%=exercise.name%></td>
    <td><%= exercise.sets %></td>
    <td><%= exercise.reps %></td>
    <td><%= exercise.weight %></td>
    <td><a href="coaches/<%=exercise.coach.id%>/exercises"><%= exercise.coach.name %></a></td>
    <td><%= link_to "Edit", exercise_path(exercise)%></td>
  </tr>
  <%end%>
 </tbody>
</table>
<br>
