<div>
<h2>Exercise Name: <%=@exercise.name%></h2>
<h3>Sets: <%=@exercise.sets%></h3>
<h3>Reps: <%=@exercise.reps%></h3>
<h3>Weight: <%=@exercise.weight%> lbs</h3>
<h4>Coach: <%=@exercise.coach.name%></h4>


<%= link_to "Edit Exercise", edit_exercise_path(@exercise)%>
<%= link_to "Delete Exercise", exercise_path, method: :delete%>
<%= link_to "Exercises", exercises_path%>
<%= link_to "Add Coach Exercises", new_coach_exercise_path(@exercise)%>
</div>