<!DOCTYPE html>
<html>
  <head>
    <title>Exercise-Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body>
    <%= render '/layouts/nav'%>
    <%= yield %>

    <script src="https://cdnjs.cloudfare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></script>
  </body>
</html>
